<mat-progress-bar [hidden]="!showLoader" style="height:1px;" mode="indeterminate"></mat-progress-bar>
<div class="sufee-login d-flex align-content-center " >
  <div class="container">
    <div class="login-content">
      
      <div class="login-form" style="background-color: #FDC611;">
          <div class="login-logo">
              <a href="index.html">
                <img class="align-content" src="assets/images/logo.jpg" style="width:250px;height:200px;"alt="">
              </a>
            </div>
        <form>
          <div  class="form-group">
            <label style="color: black;">Username</label>
            <input type="email" [(ngModel)]="user.email" class="form-control" name="email" placeholder="Email" (change)="onchange()" style="background-color: white;" required>
          </div>
          <div class="form-group">
            <label style="color: black;">Password</label>
            <input type="password" [(ngModel)]="user.password"  (change)="onchange()" class="form-control" name="password" placeholder="Password" required>
          </div>
          <div class="checkbox">
            <label style="color: black;">
              <input type="checkbox"> Remember Me
            </label>
            <!-- <label class="pull-right">
              <a href="#">Forgotten Password?</a>
            </label> -->

          </div>
          <button type="submit" (click)="doLogin()" style="background-color: black;color:white;" class="btn btn-flat m-b-30 m-t-30">Sign in</button>

          <!--<div class="register-link m-t-15 text-center">
             <p>Don't have account ?
              <a href="#"> Sign Up Here</a>
            </p>
          </div> -->
          <div style="width:100%;">
            <p style="color:red;align-content: center">{{errormsg}}
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- style="background-color: #FDC611;height: 760px;"-->
