<div class="col-sm-2">

</div>
<div class="col-sm-8">
  <div class='card'>
    <div class="card-body" style="background-color: #FDC611;">

      <div class="col-sm-5">
          <img class="align-content" src="assets/images/logo.jpg" style="width:250px;height:200px;" alt="">
      </div>
      <div class="col-sm-7" style="height:200px;">
        <div class="row" style="top:0;padding-top: 1.2em;height:100px;">
          <label style="font-size: 2em;"> What would you like to review?</label>

        </div>
        <div class="row" style="height: 100px;">
          <div class="col-sm-6" style="bottom:0;margin-top:1.2em;">
            <button type="submit"  style="background-color: black;color:white;font-size: 1.2em;left:0;" class="btn btn-flat m-b-30 m-t-30" routerLink="/home/summary" routerLinkActive="active" >Project</button>
          </div>
          <div class="col-sm-6" style="bottom:0;margin-top:1.2em; ">
            <button type="submit" style="background-color: black;color:white;font-size: 1.2em;right: 0;" class="btn btn-flat m-b-30 m-t-30" [disabled]="true">Trends</button>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>
<div class="col-sm-2">

</div>